.menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
  line-height: 1;
  background-color: transparent;
  color: var(--muted-foreground);

  &:hover {
    background-color: #f3f4f6;
    color: var(--primary);
  }

  &.is-active {
    background-color: var(--active-bg);
    color: var(--primary);
  }
}
