/* Basic editor styles */
.tiptap {
  color: var(--text);

  p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text);
  }

  /* List styles */
  ul,
  ol {
    padding: 0 16px;
    margin: 4px;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  .ProseMirror-focused {
    outline: none;
  }

  .ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
}
