.ProseMirror-focused {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
  line-height: 1;
  background-color: transparent;
  color: var(--muted-foreground);

  &:hover {
    background-color: #f3f4f6;
    color: var(--primary);
  }

  &.is-active {
    background-color: var(--active-bg);
    color: var(--primary);
  }
}

a {
  cursor: pointer;
  font-weight: 600;
  color: var(--primary);
  opacity: 0.85;
}
