@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.375rem;
	--font-sans: "Noto Sans Variable", sans-serif;

	/* Colors */
	--background: #fbfbfe;
	--foreground: #fafafa;
	--surface: #ffffff;
	--typography: #040316;
	--typography-secondary: #747983;
	--typography-light: #f6f6ff;
	--typography-dark: #040316;
	--primary: #2b6cee;
	--secondary: #dcebfe;
	--accent: #1b51da;
	--border: rgb(228, 228, 231);
	--destructive: rgb(231, 0, 11);

	/* --surface: #2a2a2a;
	--popover-foreground: #09090b;
	--primary-foreground: oklch(0.97 0.014 254.604);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--text: oklch(37.2% 0.044 257.287); */
}

.dark {
	--background: #010104;
	--foreground: #0e0e11;
	--surface: #1d293d80;
	--typography: #f6f6ff;
	--typography-secondary: #d3d8e1;
	--primary: #2b6cee;
	--secondary: #001f42;
	--accent: #255be4;
	--typography-light: #f6f6ff;
	--typography-dark: #040316;
	--border: rgba(255, 255, 255, 0.2);
	--destructive: rgb(231, 0, 11);

	/* --surface: rgb(29, 41, 61, 0.5);
	--popover-foreground: oklch(0.985 0 0);
	--primary-foreground: oklch(0.97 0.014 254.604);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent-foreground: oklch(0.985 0 0);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--text: oklch(96.8% 0.007 247.896); */
}

@theme inline {
	--font-sans: "Noto Sans Variable", sans-serif;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-surface: var(--surface);
	--color-typography: var(--typography);
	--color-typography-secondary: var(--typography-secondary);
	--color-typography-light: var(--typography-light);
	--color-typography-dark: var(--typography-dark);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
	--color-border: var(--border);
	--color-destructive: var(--destructive);

	/* --color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-primary-foreground: var(--primary-foreground);
	--color-popover-foreground: var(--popover-foreground);
	--color-surface: var(--surface);
	--color-text: var(--text); */

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
	body {
		@apply font-sans antialiased scroll-smooth bg-background text-typography;
	}

	html {
		@apply font-sans;
	}

	button:not([disabled]),
	[role="button"]:not([disabled]) {
		cursor: pointer;
	}
}

@keyframes spin-reverse {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.animate-spin-reverse {
	animation: spin-reverse 1.5s linear infinite;
}
